<div>
  <%= f.label :name, "Ingredient" %>
  <%= f.text_field :name %>
  
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove?" %>
</div>
